body
{
    text-align: center;
}

nav{
    position: fixed;
}
#welcome {
    color: #ff5959;
    bottom: 0;
    background:linear-gradient(to right, #d9ff00,#fffb00);
    display: table;
    width: 100%;
    height: 100%;
    font-family: 'Comic', cursive;
}
#name{
    font-size:40px;
}
#motto{
    font-size:20px;
}
#about_{
   font-family: 'Comic', cursive; 
    color:rgb(0, 183, 255);
   
}
.log{
    height: 20px;
    }

.ambanii{
    margin-right:40px;
}
.ambaniimg{
    margin-left: 40px;
    height:275px;
    width:200px;
}
.VIDYA{
    cursor:pointer;
}
.ambani{
    cursor:pointer;
}
.modal-title{
    color:rgb(68, 0, 255);
}
.img_modal{
    align-content: center;
    
}
.p_modal{
    color:rgb(68, 0, 255)
}
.modal-content{
    margin-top: 100px;
}
.modal-body{
    text-align:center;
}
#alumni{
    background:linear-gradient(to right, #ff0051,hsl(0, 100%, 50%));
}
#camplife{
    background:linear-gradient(to right, #ff0051,#ff0000);
}
.nameofp{
    color:rgb(0, 255, 213);
}
#contact iframe{
    width:100%;
}
#whatsnew{
        background:linear-gradient(to right, #ff0051,#ff0000);
}
h5{
    font-family:  'Hanalei', cursive;
}
.text-muted text-left{
 color:rgb(103, 253, 135);
}
.list-group-item-text{
    font-size:25px;
}
.row::after{
    content:"";
    clear:both;
    display:table;
}
.travelmainDiv{
    width:33.33%;
    float:left;
    padding:5px;
}
.travelmainDiv{
    width:100%;
    height: 300px;
}
#marqueeStyle{
  font-size:20px;
  color:rgb(121, 0, 0);
  font-family:sans-serif;
    
}
.text-capitalize{
    font-family: 'Hanalei', cursive;
}
#about {
    font-family: serif;
    padding: 50px;
    text-align: center;
    color:rgb(129, 0, 0);}